.Weather {
  background-color: #fcf1f1;
  color: grey;
  border: 3px solid #88628c;
  border-radius: 5px;
  max-width: 550px;
  padding: 15px;
  font-family: "Oxygen", sans-serif;
  margin: 0 auto;
}

.Weather h1 {
  margin-top: 10px;
  font-size: 48px;
  color: #601860;
  font-weight: 700;
}

.Weather ul {
  margin: 0;
  padding: 0;
  color: #ff7848;
}

.Weather li {
  list-style: none;
  font-weight: 400;
}

.Weather .temperature {
  font-size: 54px;
  line-height: 64px;
  color: #d33b87;
  margin-left: 10px;
}

.Weather .unit {
  font-size: 22px;
  line-height: 64px;
  position: relative;
  top: -22px;
  margin-left: 5px;
  color: #2b2d2f;
}

.Weather canvas {
  margin-top: 10px;
  display: block;
  max-width: 50px;
}

.Weather .btn {
  background: #ffe065;
  border: #ff7848;
  color: #2b2d2f;
}

.Weather .btn:hover {
  background-color: #ff7848;
}
