.Weather {
  background-color: #fcf1f1;
  color: grey;
  border: 2px solid #ffd5cd;
  border-radius: 5px;
  max-width: 550px;
  padding: 15px;
  font-family: "Oxygen", sans-serif;
}

.Weather h1 {
  margin-top: 10px;
  font-size: 48px;
  color: grey;
  font-weight: 700;
}

.Weather ul {
  margin: 0;
  padding: 0;
  color: #f9813a;
}

.Weather li {
  list-style: none;
  font-weight: 400;
}

.Weather .temperature {
  font-size: 54px;
  line-height: 64px;
  color: #2b2d2f;
}

.Weather .unit {
  font-size: 22px;
  line-height: 64px;
  position: relative;
  top: -22px;
  margin-left: 5px;
  color: #2b2d2f;
}

.Weather canvas {
  margin-top: 10px;
  display: block;
  max-width: 50px;
}
